<!DOCTYPE html>
<html class="loginPage" lang="en">
<%- include ("../partials/head") %>

<body class="loginPage text-center">
  <form class="form-signin mx-auto" method="post" action="/auth/login?r=<%= locals.redirectLink %>">
    <!-- csrf token for integrity :) -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <!-- logo/image -->
    <!-- TODO: change the image link to static image -->
    <img class="mb-4" src="/auth/static/img/main.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

    <!-- EMAIL -->
    <div class="text-left form-input-div <%= locals.emailError ? 'input-invalid' : null%>">
      <label for="loginEmail" class="text-muted">Email</label>
      <input autofocus id="loginEmail" name="email" value="<%= locals.emailPrefill ? locals.emailPrefill : null %>" />
      <% if (locals.emailError) { %>
        <div class="form-invalid-feedback"><%= locals.emailError %></div>
      <% } %>
    </div>

    <!-- PASSWORD -->
    <div class="form-input-div text-left">
      <label for="loginPassword" class="text-muted">Password</label>
      <input type="password" id="loginPassword" name="password" />
    </div>

    <!-- TODO: should we keep remember me? -->
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary text-center mx-auto">Submit</button>
    </div>
    <div class="text-center my-3">
      - OR -
    </div>
    <div class="oauth-login-btns text-center">
      <a class="btn btn-primary google-login-btn" href="/auth/login/google?r=<%= locals.redirectLink %>">
        <i class="fab fa-google"></i>
        Login with Google
      </a>
      <a class="btn btn-primary facebook-login-btn" href="/auth/login/facebook?r=<%= locals.redirectLink %>">
        <i class="fab fa-facebook-f"></i>
        Login with Facebook
      </a>
    </div>

    <!-- copyright TD -->
    <p class="mt-5 mb-3 text-muted text-center">&copy; TAMU Datathon 2020</p>
  </form>

  <%- include ("../partials/scripts") %>
</body>

</html>