<!DOCTYPE html>
<html class="AuthFormPage" lang="en">
<%- include ("../partials/head") %>

<body class="AuthFormPage text-center">
  <form class="form-signin mx-auto px-3" method="post" action="/auth/login?r=<%= locals.redirectLink %>">
    <!-- csrf token for integrity :) -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <!-- logo/image -->
    <!-- TODO: change the image link to static image -->
    <img class="mb-4" src="/auth/static/img/main.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

    <p><%= locals.loginPageSubtext %></p>

    <!-- EMAIL -->
    <div id="email-input-div" class="text-left form-input-div <%= locals.emailError ? 'input-invalid' : null%>">
      <label for="loginEmail" class="text-muted">Email</label>
      <input autofocus id="loginEmail" name="email" value="<%= locals.emailPrefill ? locals.emailPrefill : null %>" />
      <% if (locals.emailError) { %>
        <div class="form-invalid-feedback">
          <i class="fas fa-exclamation-circle"></i>
          <%= locals.emailError %>
        </div>
      <% } %>
    </div>

    <!-- PASSWORD -->
    <div class="form-input-div text-left">
      <label for="loginPassword" class="text-muted">Password</label>
      <input type="password" id="loginPassword" name="password" />
    </div>

    <!-- TODO: should we keep remember me? -->
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <div id="submit-btn-div"" class="text-center text-left">
      <button type="submit" class="btn btn-primary btn-block btn-lg mx-auto">Log in</button>
    </div>

    <div class="text-center mt-3">
      <a href="/auth/signup?r=<%= locals.redirectLink %>">Create an account</a>
    </div>

    <div class="text-center my-3">
      - OR -
    </div>
    <div class="oauth-login-btns text-center">
      <a class="btn btn-block btn-outline-primary" href="/auth/login/google?r=<%= locals.redirectLink %>">
        <i class="fab fa-google"></i>
        Log in with Google
      </a>
      <a class="btn btn-block btn-outline-primary" href="/auth/login/facebook?r=<%= locals.redirectLink %>">
        <i class="fab fa-facebook-f"></i>
        Log in with Facebook
      </a>
    </div>

    <!-- copyright TD -->
    <p class="mt-5 mb-3 text-muted text-center">&copy; TAMU Datathon <%= new Date().getFullYear() %></p>
  </form>

  <%- include ("../partials/scripts") %>
</body>

</html>
