<!DOCTYPE html>
<html class="AuthFormPage" lang="en">
<%- include ("../partials/head",{page_title:"Login"}) %>

<body class="AuthFormPage text-center">
  <form class="form-signin mx-auto px-3" method="post" action="/auth/login?r=<%= locals.redirectLink %>">
    <!-- csrf token for integrity :) -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <!-- logo/image -->
    <!-- TODO: change the image link to static image -->
    <img class="mb-4" src="https://tamudatathon.com/static/img/logos/main.svg" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

    <p><%= locals.loginPageSubtext %></p>

    <!-- EMAIL -->
    <div id="email-input-div" class="text-left form-input-div <%= locals.emailError ? 'input-invalid' : null%>">
      <label for="loginEmail" class="text-muted">Email</label>
      <input autofocus id="loginEmail" name="email" value="<%= locals.emailPrefill ? locals.emailPrefill : null %>" />
      <% if (locals.emailError) { %>
        <div class="form-invalid-feedback">
          <i class="fas fa-exclamation-circle"></i>
          <%= locals.emailError %>
        </div>
      <% } %>
    </div>

    <!-- PASSWORD -->
    <div class="form-input-div text-left">
      <label for="loginPassword" class="text-muted">Password</label>
      <input type="password" id="loginPassword" name="password" />
    </div>

    <!-- TODO: should we keep remember me? -->
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <div id="submit-btn-div"" class="text-center text-left">
      <button type="submit" class="btn btn-primary btn-block btn-lg mx-auto">Log in</button>
    </div>

    <div class="text-center mt-3">
      <a href="/auth/reset-password?r=<%= locals.redirectLink %>">Forgot your password?</a>
    </div>

    <div class="text-center mt-3">
      <a href="/auth/signup?r=<%= locals.redirectLink %>">Create an account</a>
    </div>

    <div class="text-center my-3">
      - OR -
    </div>
    <div class="oauth-login-btns text-center">
      <a class="btn btn-block btn-outline-primary" href="/auth/login/google?r=<%= locals.redirectLink %>">
        <i class="fab fa-google"></i>
        Log in with Google
      </a>
      <a class="btn btn-block btn-outline-primary" href="/auth/login/facebook?r=<%= locals.redirectLink %>">
        <i class="fab fa-facebook-f"></i>
        Log in with Facebook
      </a>
    </div>
    <div class="mt-3 mb-5 d-flex flex-row align-items-start text-left" style="
        gap: 0.5rem;
    ">
      <span class="badge badge-success" style="
        margin-top: 0.2rem;
        background-color: transparent;
        color: var(--success);
        border: 1px solid;
      ">Pro Tip</span>
      For the easiest login or sign up process, we recommend using "Log in with Google".
    </div>

    <!-- copyright TD -->
    <p class="mb-3 text-center">Have questions, problems, etc? Email us at <a href="mailto:connect@tamudatathon.com">connect@tamudatathon.com</a></p>
    <p class="mb-3 text-muted text-center">&copy; TAMU Datathon <%= new Date().getFullYear() %></p>
  </form>

  <%- include ("../partials/scripts") %>
</body>

</html>
